<div class='item-pictures'>
  <div class='primary-img'>
    <img {{bindAttr src="primaryPictureSrc"}} />
    <img class='overlay' src='/assets/plus-large.png' />
    <input type="file" name="picture[file]" id="fileupload" class='fileupload primary-image-uploader' data-url="/pictures">
  </div>
  <ul class='unstyled secondary-imgs clearfix'>
    {{#each secondaryPictureUrls}}
    <li>
      <img {{bindAttr src="this"}} />
      <img class='overlay' src='/assets/plus-small.png' />
      <input type="file" name="picture[file]" class='fileupload secondary-image-uploader' data-url="/pictures">
    </li>
    {{/each}}
  </ul>
</div>

<!-- 
{{#view Bidbin.StatView}}
<ul id="stats">
  <li>Stats Here </li>
  {{#with Bidbin.picturesController.content}}
    <li>Picture count : {{ length }}</li>  
  {{/with}}
  {{#each pictures  }}
    <li>{{this.id}} : {{this.file_file_name}}</li>
  {{/each}}
</ul>
{{/view}} 

 -->