<div class='item-pictures'>
  <div class='primary-img'>
    <img {{bindAttr src="primaryPictureSrc"}} />
    {{#if primaryPicture }}
    {{else}}
    <img class='overlay' src='/assets/plus-large.png' />
    <input type="file" name="picture[file]" id="fileupload1" class='fileupload primary-image-uploader' data-url="/pictures"/>
    {{/if}}
  </div>
  <ul class='unstyled secondary-imgs clearfix'>
    <li>
      <img {{bindAttr src="secondImageUrl"}} />
      {{#if secondPicture }}
      {{else}}
      <img class='overlay' src='/assets/plus-small.png' />
      <input type="file" name="picture[file]" class='fileupload second-image-uploader secondary-image-uploader' data-url="/pictures"/>
      {{/if}}
    </li>
    <li>
      <img {{bindAttr src="thirdImageUrl"}} />
      {{#if thirdPicture}}
      {{else}}
      <img class='overlay' src='/assets/plus-small.png' />
      <input type="file" name="picture[file]" class='fileupload third-image-uploader secondary-image-uploader' data-url="/pictures"/>
      {{/if}}
    </li>
    <li>
      <img {{bindAttr src="forthImageUrl"}} />
      {{#if forthPicture}}
      {{else}}
      <img class='overlay' src='/assets/plus-small.png' />
      <input type="file" name="picture[file]" class='fileupload forth-image-uploader secondary-image-uploader' data-url="/pictures"/>
      {{/if}}
    </li>
  </ul>
</div>
