<div class="row-fluid">
    {{#with newItem}}
    <div class="row-fluid">
      {{view Ember.TextField valueBinding="title" placeholder="Title" class="span10"}}
    </div>

    <div class="row-fluid">
      {{view Ember.TextArea valueBinding="description" placeholder="Description" class="span10"}}
    </div>

    <div class="row-fluid">
      {{view Ember.TextField valueBinding="paypal_email"  placeholder="Paypal Email" class="span10"}}
    </div>

    <div class="row-fluid">
      {{#view Bidbin.CreateItemButtonView target="Bidbin.itemsController" action="create"}}
        Create
      {{/view}}
    </div>
    {{/with}}
</div>

{{#if newItem.slug}}
<div id="row-fluid">
  <h3>Here is the direct link to your item</h3>
  <p>
    <a {{bindAttr href="newItem.url"}} target="_blank">{{newItem.url}}</a>
  </p>
</div>
{{/if}}