
{{#view Bidbin.PicturePreview}}
  {{#if primaryPicture }}
    <div>primary : {{ primaryPicture.id }}</div>     
  {{/if}}
  {{#each secondaryPictureUrls}}
    <div>{{this}}</div>
  {{/each}}
<div>pictures : {{ pictures.length }}</div>
<div class="preview-container row-fluid">
<div class="span6 images">
  <div class="row-fluid">
    <div class="span12 primary-image">
      <img {{bindAttr src="primaryPictureSrc"}} alt="">
    </div>
    <div class="row-fluid ">
      {{#each secondaryPictureUrls}}
      <div class="span4 secondary-image">
        <img {{bindAttr src="this"}} alt="">
      </div>
      {{/each}}
    </div>
  </div>
</div>
{{/view}}

{{#with newItem}}
<div class="span6 item-details">
  <h3 class="title">
    {{#if title}}
      {{title}}
    {{else}}
      Your Title Goes Here
    {{/if}}
  </h3>
  <p class="description">
    {{#if description}}
      {{description}}
    {{else}}
      A brief description about the item you are going to sell.
    {{/if}}
    
  </p>
  <div class="paypal-buy-button">
    <img src="http://leatherwrapbracelet.com/wp-content/uploads/2010/12/paypal_buynow.gif" alt="" class="pull-right">  
  </div>
</div>
{{/with}}